.example-container {
  height: 100%;
}

.example-sidenav {
  padding: 20px;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.card-container {
  margin: 2%;
  display: flex;
  flex-direction: row;
}

.card {
  width: 35%;
  margin-left: 35%;
}


@media (max-width: 600px) {
  .card {
    width: 98%;
    margin-left: 1%;
  }
}
